---
import { reactBricksAstroStore } from 'react-bricks/astro'
import PageViewer from 'react-bricks/astro/PageViewer.astro'
import { fetchPage, fetchPages } from 'react-bricks/astro/server'
import BaseLayout from '../layouts/BaseLayout.astro'
import { createSlug } from '../util/i18n';

const config = reactBricksAstroStore.getConfig()

export async function getStaticPaths() {
  const config = reactBricksAstroStore.getConfig()

  const allPages = await fetchPages(config.apiKey, {
    type: 'page',
  })

  const pages = allPages.flatMap((page) => {
    return page.translations.map((translation) => ({
      params: {
        slug: createSlug(translation.language, translation.slug),
      },
      props: {
        slug: translation.slug,
        lang: translation.language,
      },
    }))
  })

  return pages
}

const { lang, slug } = Astro.props

const page = await fetchPage({
  slug,
  config,
  language: lang,
})

if (!page) {
  return new Response('Not Found', { status: 404 })
}
---

<BaseLayout lang={lang}>
  <Fragment slot="head">
    <title>{page?.meta.title || ''}</title>
    <meta
      name="description"
      content={page?.meta.description || page?.meta.title || ''}
    />
  </Fragment>

  <PageViewer page={page} main />
</BaseLayout>
