---
import { reactBricksAstroStore } from 'react-bricks/astro'
import PageViewer from 'react-bricks/astro/PageViewer.astro'
import { fetchPage } from 'react-bricks/astro/server'
import BaseLayout from '../layouts/BaseLayout.astro'

export const prerender = false

const config = reactBricksAstroStore.getConfig()

const { slug } = Astro.params as any

let cleanSlug = ''

if (!slug) {
  cleanSlug = '/'
} else if (typeof slug === 'string') {
  cleanSlug = slug
} else {
  cleanSlug = slug.join('/')
}

const page = await fetchPage({
  slug: cleanSlug,
  config,
})
---

<BaseLayout>
  <Fragment slot="head">
    <title>{page?.meta.title || ''}</title>
    <meta
      name="description"
      content={page?.meta.description || page?.meta.title || ''}
    />
  </Fragment>

  <PageViewer page={page} main />
</BaseLayout>
