---
import { reactBricksAstroStore } from 'react-bricks/astro'
import PageViewer from 'react-bricks/astro/PageViewer.astro'
import { fetchPage, fetchPages } from 'react-bricks/astro/server'
import BaseLayout from '../../../layouts/BaseLayout.astro'

const config = reactBricksAstroStore.getConfig()

export async function getStaticPaths() {
  const config = reactBricksAstroStore.getConfig()

  const allPages = await fetchPages(config.apiKey, {
    type: 'blog',
    pageSize: 100,
    sort: '-publishedAt',
  })

  const pages = allPages
    .map((page) =>
      page.translations.map((translation) => ({
        params: {
          slug: translation.slug,
        },
      }))
    )
    .flat()

  return pages
}

const { slug } = Astro.params

let cleanSlug = ''

if (!slug) {
  cleanSlug = '/'
} else if (typeof slug === 'string') {
  cleanSlug = slug
}

const page = await fetchPage({
  slug: cleanSlug,
  config,
})

if (!page) {
  return new Response('Not Found', { status: 404 })
}
---

<BaseLayout>
  <Fragment slot="head">
    <title>{page?.meta.title || ''}</title>
    <meta
      name="description"
      content={page?.meta.description || page?.meta.title || ''}
    />
  </Fragment>

  <style>
    h2 + p {
      margin-top: 0 !important;
    }
    h3 + p {
      margin-top: 0 !important;
    }
  </style>

  <PageViewer page={page} main />
</BaseLayout>
